@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');
$red: #b00;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
    color: #333;
}

header {
    width: 100%;

    // header
    .navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 10;

        &>* {
            margin: 0 30px;
        }

        &>img {
            height: 30px;
        }

        nav {
            a {
                padding: 0 20px;
                font-size: 15px;
                line-height: 15px;
                border-right: 1px solid #ccc;

                &:last-of-type {
                    border: none;
                }

                &:hover {
                    color: #e7211b;
                }
            }
        }

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 217px;

            img {
                height: 23px;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 7px;
            background-color: #333;
        }
    }

    .banner {
        width: 100%;
        position: relative;
        height: calc(100vh - 157px);
        overflow: hidden;

        video {
            width: 100vw;
        }

        .mask {
            background-image: url("assets/asset\ 42.png");
            opacity: .8;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    $main-width: 960px;

    .belt {
        width: 100%;
        position: sticky;
        top: 0;
        display: flex;
        justify-content: center;
        z-index: 2;
        background-color: #000;
        text-align: center;

        nav {
            display: flex;
            justify-content: space-between;
            width: $main-width;
            height: 70px;

            a {
                width: 184px;
                line-height: 70px;
                color: #fff;

                &:hover {
                    border-bottom: 5px solid #f00;
                }

            }
        }
    }

    .banner {
        background-image: url("assets/asset\ 45.png");
        width: 100%;
        background-size: contain;
        height: 100vh;
        margin-bottom: 96px;
    }

    h1 {
        font-size: 40px;
        line-height: 40px;
        padding-bottom: 18px;
        text-align: center;
        position: relative;
        margin-bottom: 50px;

        &::before {
            content: '';
            position: absolute;
            width: 38px;
            top: 100%;
            right: 0;
            left: 0;
            margin: auto;
            border-bottom: 4px solid #000;
        }
    }

    .btn-nav {
        display: flex;
        justify-content: space-between;
        // text-align: center;
        margin-bottom: 290px;
        width: $main-width;
        text-align: center;

        a{
            width: 184px;
            line-height: 36px;
            font-size: 20px;
            border: dotted 1px #aaa;
            border-bottom: solid 2px $red;
            background-image: linear-gradient( $red 50%, #fff 50%);
            background-position: 0 -100%;
            background-repeat: no-repeat;
            background-size: 200% 200%;
            transition: .3s;

            &:hover{
                background-position: top;
                color: #fff;
            }
        }

    }


    .main-pic {
        display: flex;
        align-items: flex-start;
        margin-right: 230px;
        margin-bottom: 290px;

        .info {
            position: relative;
            width: 355px;
            margin-right: -165px;
            background-color: #000;
            padding: 20px;
            box-sizing: border-box;
            // z-index: ;

            * {
                color: #fff;
                letter-spacing: 2px;
            }

            .title {
                position: absolute;
                bottom: 100%;
                left: 0;
                width: 100%;
                height: 130px;
                background-color: $red;
                display: flex;
                align-items: center;

                .no {
                    font-size: 130px;
                    transform: rotate(90deg);
                    width: 130px;
                    margin: 0;
                    text-align: end;
                    font-family: 'Arial Narrow';
                    font-weight: lighter;
                }

                h2 {
                    font-size: 50px;
                    font-weight: normal;
                }
            }

            h3 {
                font-size: 25px;
                line-height: 38px;
            }

            p {
                font-size: 20px;
                line-height: 32px;
                font-weight: lighter;
                margin-bottom: 20px;
            }
        }

        img:nth-of-type(1) {
            margin-right: -50px;
        }

        img:nth-of-type(2) {
            margin-right: -371px;
            margin-top: 215px;
            transform: translateY(-50%);
        }

        .color-block {
            background-color: #eee;
            opacity: .6;
            width: 439px;
            height: 290px;
            z-index: -1;
            margin-top: -105px;
        }

        .revolutions {
            width: 682px;
            background-color: #eee;
            margin-top: 430px - 33px;
            margin-left: -910px;
            padding: 15px 20px;


            hr {
                color: $red;
                border: 0;
                font-weight: bold;
                font-size: 18px;
                line-height: 36px;
                position: relative;
                background-color: #eee;
                margin-bottom: 15px;


                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    left: 0;
                    top: 50%;
                    background-color: $red;
                }

                &::after {
                    content: attr(content);
                    display: inline-block;
                    height: 100%;
                    background-color: #eee;
                    position: relative;
                    padding-right: 6px;
                }
            }

            h4 {
                background-color: #000;
                color: #fff;
                display: inline-block;
                padding: 3px;
                font-size: 18px;
                line-height: 18px;
            }

            p {
                font-size: 16px;
                line-height: 25px;
            }

        }

    }

    .main-pic:nth-of-type(2n-0) {
        flex-direction: row-reverse;

        .info {
            // margin-right: -165px;
            margin-right: -265px - 330px;

            .title {
                flex-direction: row-reverse;
            }
        }

        img:nth-of-type(1) {
            // margin-right: -50px;
            margin-right: -100px;
        }

        img:nth-of-type(2) {            
            // margin-right: -371px;
            // margin-top: 215px;
            // transform: translateY(-50%);
            margin-right: -50px;
}

        .color-block {
            width: 518px;
            height: 413px;
            // margin-top: -105px;
            margin-right: -790px;
            margin-top: -75px;
        }

        .revolutions {
            // margin-top: 430px - 33px;
            // margin-left: -910px;
            margin-right: -685px;
        }
    }

}
